<section class="container-lg container-fluid px-md-5">
  <div class="p-4 my-3 rounded-2 bg-main-light" *ngIf="item;else msg">
    <h2 class='fw-bolder fs-2'>Shop Cart:</h2>
    <div class='d-flex mb-3 justify-content-between align-items-center'>
      <p class='text-main total-price fs-5 fw-bolder'>Total Cart Price : {{item?.totalCartPrice | currency:"EGP "}}</p>
     <button (click)="clearCart()"  class='btn clear text-nowrap btn-lg btn-outline-danger d-block'>Clear Cart</button>
    </div>

      <div *ngFor="let item of item.products" class="row py-2 border-bottom">
        <div  class="col-md-1 col-3 main-image position-relative">
          <img [style]="imageIsLoading?'aspect-ratio: 1/1;':''" (load)="imageLoaded()" [routerLink]="['details/'+item.product.id]" style="cursor: pointer;" class='w-100 h-100' [src]="item.product.imageCover"[alt]="item.product.title" />
          <ngx-skeleton-loader *ngIf="imageIsLoading" [theme]="{width:'100%',position:'absolute',top:'-20px',left:'0',right:'0',bottom:'0',marginTop:'20px',height:'100%'}"/>
        </div>
       <div *ngIf="!imageIsLoading" class="col-md-11 col-9 d-flex justify-content-between align-items-center">
         <div>
            <p [title]="item.product?.title" class='m-1 cursor-pointer'>{{item?.product?.title.split(' ').slice(0,3).join(' ')}}...</p>
            <p class='text-main m-1'>Price : <span class="fw-bolder">{{item.price}}</span></p>
            <div class="d-flex flex-wrap">
              <div class="me-2 mb-2">
                <app-btn-cart [text]="'remove'" [icon]="' fa-trash-can'" #btnItem (click)="deleteProduct(item.product._id,btnItem)" ></app-btn-cart>
              </div>
              <div>
                <app-btn-cart (click)="addToWishlist(item.product._id)" [text]="'Move to Wishlist'" [icon]="'fa-heart'" #btnItem  ></app-btn-cart>
              </div>
            </div>

         </div>
         <div class='d-flex justify-content-center align-items-center rounded-3 text-main border'>
           <button (click)="updateProductQuantity(item.product._id,item.count+1,btnItem,item?.product?.title)"  class='btn   btn-sm '><i class="fa-solid text-main fa-plus"></i></button>
           <span class='border text-muted fs-6 fw-semibold  p-1'>{{item.count}}</span>
           <button (click)="updateProductQuantity(item.product._id,item.count-1,btnItem,item?.product?.title)" class='btn   btn-sm '><i class="fa-solid text-main fa-minus"></i></button>
         </div>
       </div>
       <div *ngIf="imageIsLoading" class="col-md-11 col-9 d-flex justify-content-between align-items-center">
        <div>
          <ngx-skeleton-loader  [theme]="{width:'200px',display:'block',position:'relative'}"/>
          <ngx-skeleton-loader  [theme]="{width:'130px',display:'block',position:'relative'}"/>
          <div class="d-flex">
            <ngx-skeleton-loader  [theme]="{width:'70px',marginRight:'8px',borderRadius:'10px',height:'15px'}"/>
            <ngx-skeleton-loader  [theme]="{width:'100px',borderRadius:'10px',height:'15px'}"/>
          </div>
        </div>
         <div>
          <ngx-skeleton-loader  [theme]="{width:'90px',display:'block',position:'relative',height:'35px'}"/>
         </div>
      </div>
      </div>
      <div class="d-flex button-cart justify-content-center">
        <a role="button" [routerLink]="['/payment/'+ item._id]" class='btn text-nowrap btn-small ms-3 ms-sm-0 mt-4 btn-lg bg-main text-white me-3  d-block '>
          Online Payment
          <img width="30" src="./assets/online.png" alt="">
        </a>
        <a  [routerLink]="['/cash/'+ item._id]" class='btn mt-4 btn-lg text-nowrap btn-small me-3 bg-secondary text-white  d-block'>
          Cash on Delivery
          <img width="30" src="./assets/delivery.png" alt="">
        </a>
      </div>

    </div>
</section>
<ng-template #msg>
  <div  class='p-3 fw-bold my-5 bg-success-subtle fs-2 text-center'>No products in your Cart</div>
</ng-template>


