@media(max-width:768px){
  .register{
    width: 90% !important;
  }
}
@media(max-width:992px){
  .animate-image{
    width:250px !important;
  }
}
@media(max-width:576px){
  .have-account-span{
    font-size:13px;
  }
}
