<footer class="bg-main-light px-3 pt-5">
<div class="container-fluid px-3">
    <h2 class="fw-bolder fs-3">Get The FreshCart App</h2>
    <p class="text-muted desc fs-5 m-0">We will Send You a Link, open it in your phone to download the app</p>
    <div class='border-bottom pb-4 mt-3 d-flex align-items-center'>
      <input type="text" class='form-control p-2 w-75 ' placeholder='email...' />
      <button class='main-btn flex-shrink-0 p-2 ms-3'>Share App Link</button>
      </div>
 <div class='my-3 d-flex flex-wrap justify-content-between align-items-center'>
    <div class='d-flex type-pay align-items-center'>
      <p class='me-1  fs-5 mt-3'>Payment Partner</p>
      <div class="visa">
       <img width="40" src="./assets/images/card-visa.png" alt="visa" />
       <img width="40" src="./assets/images/card-mastercard.png" alt="master" />
       <img width="40" src="./assets/images/card-amex.png" alt="amex" />
       <img width="40" src="./assets/images/valu_v2.png" alt="valu_v2" />
      </div>
    </div>
    <div class='d-flex type-pay  align-items-center'>
      <p class='fs-5 mt-3 me-1'>Get deliveries with FreshCart</p>
      <div>
        <img width='100' src="./assets/images/google-play.png" alt="googleplay" />
        <img width='100' src="./assets/images/app-store.png"  alt="AppStore" />
      </div>

  </div>
  <div></div>
  </div>
  <div class="border-top copyright d-flex align-items-center justify-content-center">
    <a href="https://www.linkedin.com/in/mohamed-salem-121531269/"
     target="_blank"
    class="m-0 py-3">
      Copyright &copy; {{ cuurentData | date }} <span class="text-main text-decoration-underline fw-bold">Mohamed Elsayed</span> All Right Reserved
    </a>
  </div>
</div>
 </footer>
