<section class="container">
  <div class="card my-4">
    <div class="card-header fw-medium">Change Password</div>
    <div class="card-body">
      <form [formGroup]="updateFormPassword" (ngSubmit)="changePassword(updateFormPassword)">
        <div class="mb-3">
          <label
            class="small mb-1 text-muted text-capitalize"
            for="inputpassword"
            >Current Password</label
          >
          <input
            class="form-control"
            id="inputPassword"
            type="password"
            placeholder="*********"
            formControlName="currentPassword"
            [readonly]="readonly"
            [ngClass]="{
              'is-valid': !currPassowrd?.errors && disabled,
              'is-invalid':
                currPassowrd?.errors && currPassowrd?.touched && disabled
            }"
          />
          <div *ngIf="currPassowrd?.dirty" class="errorGroupe">
            <p
              *ngIf="currPassowrd?.getError('required')"
              class="alert small m-1 px-1 py-0 alert-danger"
            >
              your password is required
            </p>
          </div>
        </div>
        <div class="row gx-3 mb-1">

          <div class="col-md-6 mb-3">
            <label
              class="small mb-1 text-muted text-capitalize"
              for="inputnewpassword"
              >New Password
            </label>
            <input
              class="form-control"
              id="inputnewpassword"
              type="password"
              placeholder="**********"
              formControlName="password"
              [readonly]="readonly"
              [ngClass]="{
                'is-valid': !reNewPassword?.errors && disabled,
                'is-invalid':
                  reNewPassword?.errors && reNewPassword?.touched && disabled
              }"
            />
            <div *ngIf="newPassword?.dirty" class="errorGroupe">
              <p
                *ngIf="newPassword?.getError('required')"
                class="alert small m-1 py-0 px-1 alert-danger"
              >
                your newPassword is required
              </p>
              <p
                *ngIf="newPassword?.getError('pattern')"
                class="alert small m-1 py-0 px-1 alert-danger"
              >
              Password must be at least 6 chars
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <label
              class="small m-0 px-1 py-0 text-muted text-capitalize"
              for="inputconfirm"
              >Confirm Password</label
            >
            <input
              class="form-control"
              id="inputconfirm"
              type="password"
              placeholder="**********"
              [readonly]="readonly"
              formControlName="rePassword"
              [ngClass]="{
                'is-valid': !reNewPassword?.errors && disabled,
                'is-invalid':
                  reNewPassword?.errors && reNewPassword?.touched && disabled
              }"
            />
            <div *ngIf="reNewPassword?.dirty" class="errorGroupe">
              <p
                *ngIf="reNewPassword?.getError('required')"
                class="alert py-0 px-1 m-1 small alert-danger"
              >
                Confirm Password is required
              </p>
              <p
                *ngIf="reNewPassword?.getError('noMatch')"
                class="alert py-0 px-1 m-1 small alert-danger"
              >
                your rePassword not mathces
              </p>
            </div>
          </div>
        </div>
        <button *ngIf="disabled" class="main-btn py-2 w-100"><span *ngIf="!isLoading" class="fw-bolder px-2">Save Changes</span><span *ngIf="isLoading">loading...</span></button>
      </form>
      <button
      *ngIf="readonly"
       (click)="removedisable()"
        type="menu"
        class="my-3 py-2 main-btn bg-warning text-capitalize  w-100"
      >
        <span class="fw-bolder px-2">Edit Password</span>
      </button>
    </div>
  </div>
</section>
