<section *ngIf="step1" class="w-75 shadow bg-main-light my-5 rounded-3 mx-auto p-3 p-md-5">
  <h1 class="mb-4">
    Forget Password :
  </h1>
  <form [formGroup]="forgetForm" (ngSubmit)="handleForm1()">
    <div class="form-item mb-2">
      <label for="email">Email : </label>
      <input formControlName="email" type="email" class="form-control mb-1" id="email">
      <div *ngIf="forgetForm.get('email')?.errors && forgetForm.get('email')?.touched" class="alert alert-danger p-1 small">
        <p class="m-0" *ngIf="forgetForm.get('email')?.getError('required')">Email is required</p>
        <p class="m-0" *ngIf="forgetForm.get('email')?.getError('email')">Email invalid format</p>
      </div>
    </div>
    <button [disabled]="forgetForm.invalid" class="main-btn d-block w-100 mt-3 px-3 fs-5 py-2">
      <span *ngIf="!isLoading">Login</span> <span *ngIf="isLoading"><i class="fa fa-spin fa-spinner"></i> </span>
    </button>
    <div *ngIf="errMsg" class="alert mt-2 alert-danger p-1 small">
      <p class="m-0">{{errMsg}}</p>
    </div>
  </form>
</section>
<section *ngIf="step2" class="w-75 shadow bg-main-light my-3 rounded-3 mx-auto p-5">
  <h1 class="mb-4 text-center">
    <p class="heading">Verify</p>
  <svg class="check" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" xml:space="preserve">  <image id="image0" width="60" height="60" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAQAAACQ9RH5AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ
cwAACxMAAAsTAQCanBgAAAAHdElNRQfnAg0NDzN/r+StAAACR0lEQVRYw+3Yy2sTURTH8W+bNgVf
aGhFaxNiAoJou3FVEUQE1yL031BEROjCnf4PLlxILZSGYncuiiC48AEKxghaNGiliAojiBWZNnNd
xDza3pl77jyCyPzO8ubcT85wmUkG0qT539In+MwgoxQoUqDAKDn2kSNLlp3AGi4uDt9xWOUTK3xg
hVU2wsIZSkxwnHHGKZOxHKfBe6rUqFGlTkPaVmKGn6iYao1ZyhK2zJfY0FZ9ldBzsbMKxZwZjn/e
5szGw6UsD5I0W6T+hBhjUjiF7bNInjz37Ruj3igGABjbtpIo3GIh30u4ww5wr3fwfJvNcFeznhBs
YgXw70TYX2bY/ulkZhWfzfBbTdtrzjPFsvFI+T/L35jhp5q2owDs51VIVvHYDM9sa/LY8XdtKy1l
FXfM8FVN2/X2ajctZxVXzPA5TZvHpfb6CFXxkerUWTOcY11LX9w0tc20inX2mmF4qG3upnNWrOKB
hIXLPu3dF1x+kRWq6ysHpkjDl+7eQjatYoOCDIZF3006U0unVSxIWTgTsI3HNP3soSJkFaflMDwL
3OoHrph9YsPCJJ5466DyOGUHY3Epg2rWloUxnMjsNw7aw3AhMjwVhgW4HYm9FZaFQZ/bp6QeMRQe
hhHehWKXGY7CAuSpW7MfKUZlAUqWdJ3DcbAAB3guZl9yKC4WYLfmT4muFtgVJwvQx7T2t0mnXK6J
XlGGyAQvfNkaJ5JBmxnipubJ5HKDbJJsM0eY38QucSx5tJWTVHBwqDDZOzRNmn87fwDoyM4J2hRz
NgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMy0wMi0xM1QxMzoxNTo1MCswMDowMKC8JaoAAAAldEVY
dGRhdGU6bW9kaWZ5ADIwMjMtMDItMTNUMTM6MTU6NTArMDA6MDDR4Z0WAAAAKHRFWHRkYXRlOnRp
      bWVzdGFtcAAyMDIzLTAyLTEzVDEzOjE1OjUxKzAwOjAwIIO3fQAAAABJRU5ErkJggg=="></image>
  </svg>
  </h1>
  <form [formGroup]="resetCodeForm" (ngSubmit)="handleForm2()">
    <div class="box d-flex justify-content-center gap-3">

      <input formControlName="Code1"  class="input" type="password" maxlength="1" (keyup)="onKeyUp($event, 2)">
      <input formControlName="Code2"  class="input" type="password" maxlength="1" (keyup)="onKeyUp($event, 3)">
      <input formControlName="Code3"  class="input" type="password" maxlength="1" (keyup)="onKeyUp($event, 4)">
      <input formControlName="Code4"  class="input" type="password" maxlength="1" (keyup)="onKeyUp($event, 5)">
      <input formControlName="Code5"  class="input" type="password" maxlength="1" (keyup)="onKeyUp($event, 6)">
      <input formControlName="Code6"  class="input" type="password" maxlength="1" (keyup)="onKeyUp($event)">
      </div>
      <div class="d-flex mt-3 justify-content-center">
        <button   class="main-btn me-2 bg-dark d-block mt-3 px-3 fs-5 py-2">
          <span (click)="onBackBtn()" *ngIf="!backLoading">Back</span>
        </button>
        <button [disabled]="resetCodeForm.invalid" class="main-btn  bg-dark d-block  mt-3 px-3 fs-5 py-2">
          <span *ngIf="!isLoading">Submit</span> <span *ngIf="isLoading"><i class="fa fa-spin fa-spinner"></i> </span>
        </button>
      </div>
  </form>
  <div *ngIf="errMsg" class="alert mt-2 alert-danger p-1 small">
    <p class="m-0">{{errMsg}}</p>
  </div>
</section>
<section *ngIf="step3" class="w-75 shadow bg-main-light my-3 rounded-3 mx-auto p-5">
  <h1 class="mb-4">
    Reset Password :
  </h1>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="handleForm3()">
    <div class="form-item mb-2">
      <label for="email">Email : </label>
      <input [(ngModel)]="email" placeholder="Email"   formControlName="email" type="email" class="form-control mb-1" id="email">
    </div>
    <div class="form-item mb-2">
      <label for="newPassword">Reset Password : </label>
      <input formControlName="newPassword" type="password" class="form-control mb-1" id="newPassword">
      <div *ngIf="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched" class="alert alert-danger p-1 small">
        <p class="m-0" *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">Password is required</p>
        <p class="m-0" *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">Password must be at least 6 chars</p>
      </div>
    </div>
    <button [disabled]="resetPasswordForm.invalid" class="main-btn d-block w-100 mt-3 px-3 fs-5 py-2">
      <span *ngIf="!isLoading">Reset Password</span> <span *ngIf="isLoading"><i class="fa fa-spin fa-spinner"></i> </span>
     </button>
  </form>
  <div *ngIf="errMsg" class="alert mt-2 alert-danger p-1 small">
    <p class="m-0">{{errMsg}}</p>
  </div>
</section>
