@media(max-width:576px){
  .brand-name{
   font-size:17px !important;
  }
  .date{
    font-size: 13px !important;
  }
  .apology{
    font-size: 15px;
  }
  .notavailble{
    max-width:250px !important;
  }
  .notavailble img{
    max-width: 200px !important;
  }
  }
