@media(max-width:768px){
  .login{
    width: 90% !important;
  }
}
@media(max-width:992px){
  .animate-img{
    width:200px !important;
  }
}
@media(max-width:576px){
  .forget-span,
  .explore-span{
    font-size:13px;
  }
}
