<section *ngIf="categories.length>0">
  <div  class='d-flex gap-2 mb-4 align-items-center'>
    <h2 class='fw-semibold text-muted'>Popular Categories</h2>
  </div>
  <owl-carousel-o  [options]="customOptions">

    <ng-container   *ngFor="let cat of categories">
      <ng-template  carouselSlide >
        <div class="px-3">
          <a [routerLink]="['/category/'+cat._id]">
            <div class="card cursor-pointer shadow-sm border card-img-top">
              <img height="200" class="" [src]="cat.image" [alt]="cat._id" [title]="cat.name">
               <div class="card-body">
                <h4 class='h6 text-main title-cat  small fw-bold  text-center text-nowrap'>{{cat.name}}</h4>
               </div>
            </div>

          </a>
        </div>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</section>

